
{% load tz %}

<footer class="footer">
  <div class="container">
    <span class="text-muted small text-center">
      <i class="fa fa-copyright"></i> {{ copyright }}&nbsp;Licensed for use under <A href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPL 3.0</A>&nbsp;&nbsp;
      <i class="fa fa-leaf"></i> Revision: {{ revision }}&nbsp;&nbsp;
      <i class="fa fa-clock-o"></i> {% get_current_timezone as TIME_ZONE%}{{TIME_ZONE}}&nbsp;&nbsp;
      <i class="fa fa-exclamation-circle"></i> {{ disclaimer }}&nbsp;&nbsp;
    </span>
  </div>
</footer>
